.header-info-box{
  margin-right: 10px
}

h1.transaction-title{
  margin: 0
}

.transaction-link{
  color: unset;
  text-decoration: unset;
}

.transaction-header-element{
  margin-right: 10px;
}

.meta-info-container{
  margin-left: 10px;
}

::ng-deep .mat-card-header-text{
  margin: unset;
}
