<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      meta informations
    </mat-panel-title>

  </mat-expansion-panel-header>

  <mat-card [formGroup]="metaInformations.getFormArray()">

    <div fxLayout="column">
      <div *ngFor="let item of metaInformations.getFormArray().controls; let i = index;">

        <div [formGroupName]="i" fxLayout="row">
          <mat-form-field class="key-value">
            <input matInput formControlName="key" placeholder="key">
          </mat-form-field>

          <mat-form-field class="key-value">
            <input matInput formControlName="value" placeholder="value">
          </mat-form-field>

          <mat-chip
                  matTooltip="remove meta information"
                  matTooltipClass="custom-tooltip"
                  color="primary"
                  class="slim-mat-chip remove-meta-chip"
                  (click)="removeMetaInfoEntry(i)">
            x
          </mat-chip>
        </div>

      </div>
    </div>

  </mat-card>

</mat-expansion-panel>

