<div class="page-container">
  <app-no-eth-browser></app-no-eth-browser>


  <mat-sidenav-container *ngIf="isWeb3Ready()" hasBackdrop="false">

    <mat-sidenav mode="side" opened fixedInViewport="true" [opened]="showSideNav">
      <div *ngIf="isWeb3ReadOnly(); else uploadNavigation">
        An Infura Enpoint is used to show you the content of this DataNode.
      </div>

      <ng-template #uploadNavigation>
        <app-upload-input-group></app-upload-input-group>
      </ng-template>

    </mat-sidenav>


    <mat-sidenav-content>
      <div class="inner-content-container">

        <app-transaction-list></app-transaction-list>

      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>


  <button mat-raised-button color="accent"
          matTooltip="open/close side navigation"
          matTooltipClass="custom-tooltip"
          [class.show-hide-button-close]="!showSideNav"
          [class.show-hide-button-open]="showSideNav"
          class="show-hide-button" (click)="toggleShowHideSideNav()">
    <mat-icon>
      <ng-container *ngIf="showSideNav; else openArrow">keyboard_arrow_left</ng-container>
      <ng-template #openArrow>
        keyboard_arrow_right
      </ng-template>
    </mat-icon>

  </button>
</div>
